/* TODO
 -> think about turning to tailwind
*/

.checkbox {
  position: relative;
}

.checkbox .checkbox-input {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.checkbox .checkbox-trigger {
  height: 24px;
  width: 24px;
  border: 1px solid #000;
  border-radius: 50%;
  color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox .checkbox-trigger img {
  height: 16px;
  width: 16px;
  display: none;
}

.checkbox .checkbox-trigger.is-checked {
  background: #026906;
  color: #fff;
}

.checkbox .checkbox-trigger.is-checked img {
  display: block;
}
